Repository StackExchange/Stacks, pull requests merged in 2018-12, with the labels that each got.

#191 CSS Transition Utilities
  docs/_data/nav.yml
  docs/_data/product/atomic-definitions.yml
  docs/assets/css/stacks-documentation.css
  docs/assets/css/stacks-documentation.min.css
  docs/product/base/transitions.html
  lib/css/stacks.css
  lib/css/stacks.min.css
  lib/src/atomic/_stacks-misc.less
  lib/src/exports/_stacks-constants-helpers.less
Labels: status-review

#205 Audit and refactor email code
  docs/email/components/buttons.html
  docs/email/components/footers.html
  docs/email/templates/code/promotional.html
  docs/email/templates/code/transactional-long.html
  docs/email/templates/code/transactional-short.html
Labels: do-not-merge, email

#209 Vertically aligning hybrid columns v2 final
  docs/email/templates/code/promotional.html
  docs/email/templates/code/transactional-long.html
Labels: email, enhancement

#207 Content style guide v1
  docs/_data/nav.yml
  docs/_includes/footnote-content.html
  docs/_includes/header.html
  docs/_includes/navigation.html
  docs/_layouts/home.html
  docs/content/principles.html
  docs/content/voice-and-tone.html
Labels: docs, feature

#212 Adjust jquery.toc spacing
  docs/assets/js/libs/jquery.toc.js
Labels: docs
