Repository StackExchange/Stacks, pull requests merged in 2018-11, with the labels that each got.

#180 Updates to Accessibility Guidelines
  docs/email/guidelines/best-practices.html
Labels: docs, email

#175 Box Shadow and Opacity hovers
  docs/_data/product/atomic-definitions.yml
  docs/assets/css/stacks-documentation.css
  docs/assets/css/stacks-documentation.min.css
  docs/product/base/box-shadow.html
  docs/product/base/opacity.html
  lib/css/stacks.css
  lib/css/stacks.min.css
  lib/src/atomic/_stacks-misc.less
  lib/src/exports/_stacks-constants-helpers.less
Labels: enhancement, status-review

#176 Add support to <blockquote>'s in email
  docs/email/base/typography.html
  docs/email/templates/code/promotional.html
  docs/email/templates/code/transactional-long.html
  docs/email/templates/code/transactional-short.html
Labels: email, enhancement

#184 Gmails conversation thread
  docs/email/guidelines/faq.html
  docs/email/templates/code/promotional.html
  docs/email/templates/code/transactional-long.html
  docs/email/templates/code/transactional-short.html
Labels: email, enhancement

#192 Card Upgrades
  docs/_layouts/home.html
  docs/assets/css/stacks-documentation.css
  docs/assets/css/stacks-documentation.min.css
  docs/email/guidelines/getting-started.html
  docs/product/components/cards.html
  lib/css/stacks.css
  lib/css/stacks.min.css
  lib/src/components/_stacks-cards.less
Labels: enhancement
