Repository StackExchange/Stacks, pull requests merged in 2019-01, with the labels that each got.

#219 Account is suspended message
  docs/content/voice-and-tone.html
Labels: bug, docs

#217 Email: Improve code to negate auto-detected links
  docs/email/templates/code/promotional.html
  docs/email/templates/code/transactional-long.html
  docs/email/templates/code/transactional-short.html
Labels: email, enhancement

#213 Codify $Num$ Counts in Button Groups
  docs/_data/product/buttons.yml
  docs/product/components/badges.html
  docs/product/components/button-groups.html
  docs/product/components/buttons.html
  lib/css/components/_stacks-button-groups.less
  lib/css/components/_stacks-buttons.less
Labels: feature
