Repository StackExchange/Stacks, pull requests merged in 2019-03, with the labels that each got.

#276 Change `*` to `a`
  docs/email/templates/code/promotional.html
  docs/email/templates/code/transactional-long.html
  docs/email/templates/code/transactional-short.html
Labels: email

#267 Email documentation edits from interviews w/ marketing
  docs/_data/nav.yml
  docs/_includes/notice-email-master-templates.html
  docs/assets/img/figure-preview-text.svg
  docs/email/base/mso.html
  docs/email/components/images.html
  docs/email/guidelines/design-best-practices.html
  docs/email/guidelines/faq.html
  docs/email/guidelines/getting-started.html
Labels: docs, email

#281 Initial draft of background classes
  docs/_data/nav.yml
  docs/_data/product/background-definitions.yml
  docs/assets/img/illustrationBgImage.svg
  docs/assets/less/stacks-documentation.less
  docs/product/base/background-attachment.html
  docs/product/base/background-position.html
  docs/product/base/background-repeat.html
  docs/product/base/background-size.html
  docs/product/base/backgrounds.html
  lib/css/atomic/_stacks-misc.less
Labels: help-wanted
