Repository StackExchange/Stacks, pull requests merged in 2020-04, with the labels that each got.

#470 Let badge__mini be used with any coloration
  docs/_data/badges.json
  docs/product/components/badges.html
  lib/css/components/_stacks-badges.less
Labels: bug, docs, enhancement, product

#474 Feature/toggle switches
  docs/_data/site-navigation.json
  docs/product/components/toggle-switch.html
  lib/css/components/_stacks-toggle-switches.less
  lib/css/components/_stacks-toggles.less
  lib/css/stacks-static.less
Labels: feature

#481 Migrate rep badges to use award-bling
  docs/_data/badges.json
  docs/product/components/badges.html
  lib/css/components/_stacks-badges.less
Labels: product, work-in-progress
