Repository StackExchange/Stacks, pull requests merged in 2021-07, with the labels that each got.

#626 Bump Stimulus to 2.0.0
  docs/_data/tables.json
  docs/email/base/border-radius.html
  docs/email/patterns/columns.html
  docs/email/templates/long-transactional.html
  docs/email/templates/promotional.html
  docs/email/templates/short-transactional.html
  docs/product/components/modals.html
  docs/product/components/popovers.html
  docs/product/components/tables.html
  lib/tsconfig.json
  package-lock.json
  package.json
Labels: lib update

#712 Full width email signatures
  docs/email/components/signatures.html
Labels: bug, email

#638 Improvements to the Brand section
  docs/_data/site-navigation.json
  docs/_includes/toast-clipboard.html
  docs/assets/img/logos/collectives/collectives-logo-compact.png
  docs/assets/img/logos/collectives/collectives-logo-compact.svg
  docs/assets/img/logos/collectives/collectives-logo.png
  docs/assets/img/logos/collectives/collectives-logo.svg
  docs/assets/js/clipboard.js
  docs/brand/colors.html
  docs/brand/copywriting/naming.html
  docs/brand/logo.html
  docs/brand/typography.html
Labels: brand

#713 Add a diamond to `.s-badge__moderator`
  docs/product/components/user-cards.html
  lib/css/components/_stacks-badges.less
Labels: enhancement

#715 Menu docs - padding over negative margins
  docs/product/components/menus.html
Labels: chore, docs

#719 Improve theme dark mode colors algorithm
  lib/css/base/_stacks-configuration-dynamic.less
  lib/css/components/_stacks-user-cards.less
  lib/css/exports/_stacks-constants-colors.less
Labels: enhancement

#722 Typo: flex itesm => flex items
  docs/product/base/flex.html
Labels: docs

#724 Add `.fc-inherit`, `.bc-inherit`, and `.bg-inherit`
  docs/_data/colors.json
  docs/product/base/colors.html
  lib/css/atomic/_stacks-borders.less
  lib/css/atomic/_stacks-colors.less
Labels: enhancement

#693 Add CSS grid
  .gitignore
  dist/css/stacks-flexgrid-shim.min.css
  docs/_data/grid.json
  docs/_data/site-navigation.json
  docs/_includes/layouts/home.html
  docs/_includes/navigation.html
  docs/assets/less/stacks-documentation.less
  docs/product/base/flex.html
  docs/product/base/grid.html
  docs/product/guidelines/conditional-classes.html
  lib/css/atomic/_stacks-grid.less
  lib/css/stacks-static.less
Labels: feature
