Repository StackExchange/Stacks, pull requests merged in 2024-06, with the labels that each got.

#1712 docs(figma): obfuscate figma links under okta auth
  docs/product/base/box-shadow.html
  docs/product/components/avatars.html
  docs/product/components/award-bling.html
  docs/product/components/badges.html
  docs/product/components/banners.html
  docs/product/components/breadcrumbs.html
  docs/product/components/button-groups.html
  docs/product/components/buttons.html
  docs/product/components/cards.html
  docs/product/components/checkbox.html
  docs/product/components/editor.html
  docs/product/components/inputs.html
  docs/product/components/labels.html
  docs/product/components/modals.html
  docs/product/components/navigation.html
  docs/product/components/notices.html
  docs/product/components/popovers.html
  docs/product/components/select.html
  docs/product/components/tags.html
  docs/product/components/textarea.html
  docs/product/components/toggle-switch.html
  docs/product/foundation/color-fundamentals.html
  docs/product/foundation/colors.html
  docs/product/foundation/icons.html
  docs/product/foundation/spots.html
  docs/product/foundation/typography.html
Labels: docs

#1752 docs(a11y): document usage of ARIA landmarks across our products
  docs/_includes/header.html
  docs/_includes/layouts/home.html
  docs/_includes/navigation.html
  docs/_includes/topbar.html
  docs/product/components/topbar.html
  docs/product/foundation/accessibility.html
Labels: accessibility

#1764 fix(popover): prevent content child from clipping elements
  docs/product/components/popovers.html
  lib/components/popover/popover.less
Labels: bug, accessibility
